* {
    max-width: 100%;
}
.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}



.img {
    width: 100%;
    height: 123%;
    padding: 0;
    left: 0 !important;
    right: 0 !important;
}
body {
    background: snow !important;
   
    min-height: 100vh;
    max-width: 100% !important;
}

    body div .container-fluid {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

    .social-link:hover, .social-link:focus {
        background: #ddd;
        text-decoration: none;
        color: #555;
    }

.colr {
    width: 150px
}

.hs {
    margin-top: 5%;
}

.col-xl-6 {
    margin-bottom: 2%;
}

.spantext {
    margin-top: 2%;
}

.icmargright {
    margin-right: 1%;
}

.bannar {
    padding: 0 !important;
}

.teamdiv:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}



.teamdiv::before,
.teamdiv::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.teamdiv::before {
    transform-origin: left top;
}

.teamdiv::after {
    transform-origin: right bottom;
}

.teamdiv:hover::before,
.teamdiv:hover::after,
.teamdiv:focus::before,
.teamdiv:focus::after {
    transform: scale3d(1, 1, 1);
}

.bg-color {
    background-color: #e8e1bb !important;
}
