@model ConstructionSystem.Models.Entities.ProjectService
@{
    ViewBag.Title = "AssignServicToProject";
}
@section AdminNav{
    @{Html.RenderPartial("_AdminNav");}
}
@section styles{
    <link href="~/library/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/library/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/library/icon-font.min.css" rel="stylesheet" />
    <!---------------------------------------------------------------------------------------------->
    <link href="~/library/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" src="~/css/favicon.ico" />
    <link href="~/css/proj-det.css" rel="stylesheet" />
    <link href="~/css/css.css" rel="stylesheet" />
    <link href="~/css/project_css.css" rel="stylesheet" />
}
<body>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading " style=" background-image: url('../../images/bottom-view-urban-zone-with-skyscrapers_23-2148287792.jpg');">
                </div>
                <div class="card-body">
                    <div class="btn-container">
                        <label class="action-btn">
                            Add Servic
                        </label>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="assigndiv">
                            @Html.DropDownListFor(x => x.ProjectID, ViewBag.proj_list as SelectList, "select project", htmlAttributes: new { @class = "form-control" })

                        </div>
                        <div class="assigndiv">
                            @Html.DropDownListFor(x => x.ServiceID, ViewBag.serv_list as SelectList, "select services", htmlAttributes: new { @class = "form-control" })
                        </div>

                        <div class="form-actions no-color assign">
                            <input type="submit" value="Create" class="btn btn-dark" />
                            @Html.ActionLink("Back", "Project_Details", null, new { @class = "btn btn-dark" })
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</body>

